@reference 'tailwindcss';
:host {
  display: flex;
}

#privacy {
  /*noinspection CssInvalidPropertyValue,CssInvalidPseudoSelector*/
  min-inline-size: 16ch;
  /*noinspection CssInvalidPropertyValue*/
  appearance: base-select;
  /*noinspection CssInvalidPseudoSelector*/
  &::picker(select) {
    /*noinspection CssInvalidPropertyValue*/
    appearance: base-select;
  }

  /*noinspection CssInvalidPseudoSelector*/
  &::picker(select) {
    border-radius: var(--radius-md);
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-gray-300);
    @apply shadow;
  }

  selectedcontent {
    display: flex;
    gap: 0.5rem;
  }

  option {
    @apply p-2;
    /*noinspection CssInvalidPseudoSelector*/
    &::checkmark {
      @apply absolute end-2;
    }
  }

  option:focus {
    @apply outline-none bg-gray-200;
  }
}

.Archived {
  @apply bg-gray-200;
}

.Public {
  @apply bg-green-300;
}

.Private {
  @apply bg-red-300;
}
.edit-mode {
  @apply bg-gray-50;
}
.enter-now {
  animation: fadeIn 500ms ease-out backwards;
}
.enter {
  animation: fadeIn 500ms ease-out calc(var(--item-index) * 100ms) backwards;
}
.leave {
  animation: fadeOut 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
